.categories_section {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    background-color: var(--secondary);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    /* border: 2px solid red; */

}

.categories_title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: var(--hcolor);
    font-weight: 600;
}

.categories_grid {
    max-width: 1000px;
    /* border: 5px solid red; */
}


@media screen and (max-width:800px) {
    .categories_grid {
        display: flex;
        flex-direction: column;
    }

    .categories_card_section {
        height: 250px;
    }

}

@media screen and (max-width:500px) {
    .categories_section {
        padding: 1rem;
    }

}