.categories_card_section {
    /* border: 2px solid red; */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.804);
    height: 200px;
    /* padding: ; */
    transition: all .3s;
    cursor: pointer;
    background-color: black;
    --shine-deg: 45deg;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: -100% 0, 0 0;
    background-image: linear-gradient(var(--shine-deg),
            transparent 20%,
            transparent 40%,
            rgba(124, 124, 124, 0.479) 50%,
            rgba(123, 123, 123, 0.432) 55%,
            transparent 70%,
            transparent 100%);
    background-size: 400% 300%, 200% 100%;
    transition: background-position 2s ease;
    transition: all .2s;
}

.categories_card_section:hover {
    background-position: 100%0, 0 0;
    transition-duration: .5s;
    transform: scale(1.03);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5), -4px -4px 20px rgba(0, 0, 0, 0.5);
}

.categories_card_name {
    position: absolute;
    bottom: 40%;
    left: 0%;
    right: 0%;
    margin: auto;
    font-weight: 900;
    font-size: 25px;
    color: var(--color1);
    cursor: pointer;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    transition: all .5s ease-in-out;
    align-items: center;
    cursor: pointer;
    /* position: relative; */
    padding: 0px 2px;
    width: fit-content;
}

.categories_card_name:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--color1);
    width: 0%;
    left: 0;
    bottom: 0px;
    transition: .3s;
}

.categories_card_section:hover .categories_card_name::after {
    width: 100%;
    box-shadow: 2px 2px 10px var(--color1);
}

.categories_card_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s;
    opacity: .5;
}