.footer_Section {
    width: 100%;
    height: 45vh;
    background-color: var(--primary);
    /* border: 2px solid red; */
    padding: 7vh;
    display: flex;
    /* flex-direction: column; */
    gap: 5vh;
    /* border-radius: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15vw;
    color: var(--color1);
}

.alignment {
    cursor: pointer;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    transition: all .5s ease-in-out;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: fit-content;
}

.line {
    cursor: pointer;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    transition: all .5s ease-in-out;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 0px 2px;
}


.line:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--color1);
    width: 0%;
    left: 0;
    bottom: -7px;
    transition: .3s;
}

.line:hover::after {
    /* color: var(--primary); */
    /* text-decoration: underline; */
    width: 100%;
    box-shadow: 2px 2px 10px var(--color1);

}