.home {
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 100%;
    background-clip: content-box;
    height: 100vh;
    background-size: cover;
    display: flex;
    /* transform-style: preserve-3d; */
    justify-content: center;
    animation: bgChanger 100s ease-in-out infinite;
}

.bg_video {
    position: absolute;
    opacity: .6;
    left: 0;
    top: 0;
    right: auto;
    margin: auto;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.navbar {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    font-size: 1.25rem;
    color: var(--color1);
    background: var(--primary);
    box-shadow: 0 8px 32px 00px rgba(0, 0, 0, .7);
    align-items: center;
    z-index: 1;
    position: relative;

}

nav .logo img {
    height: 70px;
    width: auto;
}

.nav_content {
    display: flex;
    gap: 7vw;
    position: relative;
}

.nav_content ul {

    display: flex;
    list-style: none;
    gap: 5vw;
    flex-wrap: wrap;
    align-items: center;
}

.nav_content ul li {
    transition: all .5s ease-in-out;
    cursor: pointer;
    position: relative;
    padding: 0px 5px;
}

.nav_content ul li::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--color1);
    width: 0%;
    left: 0;
    bottom: -3px;
    transition: .3s;
}

.nav_content ul li:hover {
    text-shadow: 2px 2px 10px var(--color1);
}

.nav_content ul li:hover:after {
    width: 100%;
    box-shadow: 2px 2px 10px var(--color1);

}

.nav_content img {
    width: auto;
    height: 30px;
    cursor: pointer;
}

.menu_option {
    display: block;
    /* border: 2px solid red; */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.home_menu_section {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 250px;
    min-width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    border-radius: 10px;
    justify-content: space-between;
    overflow: hidden;
    border: .5px solid var(--color1);
    background-color: var(--primary);
    border-radius: 10px;

}

.home_menu_list {
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;

}


.user_settings {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.user_options {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 220px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    border-radius: 10px;
    overflow: hidden;
    border: .5px solid var(--color1);
    background-color: var(--primary);
    border-radius: 10px;

}

.logup_option {
    top: 60px;
    right: 20px;
    width: 220px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border: .5px solid var(--color1);
    background-color: var(--primary);
    border-radius: 10px;
}


.account_setting,
.logout,
.login-signup {
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;

}

.account_setting:hover,
.logout:hover,
.login-signup:hover {
    background-color: var(--color1);
    color: var(--color2);
}

.tagline {
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    color: var(--color1);
    z-index: 2;
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    padding: 10px;
    cursor: default;
    top: 45%;
}

.tagline:hover {
    cursor: pointer;
}

.song_btn {
    position: absolute;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
    /* color: white; */
    width: 30px;
}

@media screen and (max-width:1400px) {
    .nav_content ul {
        display: none;
    }

    .tagline {
        font-size: 2.5rem;
    }

    .menu_option {
        display: flex;
    }

    .nav_content {
        gap: 5vw;
    }
}

@media screen and (max-width:400px) {
    .tagline {
        font-size: 2rem;
    }

    nav .logo img {
        /* height: 50px; */
        width: auto;
    }


}