.hotel_section {
    width: 100%;
    height: 100vh;
    background-color: var(--secondary);
    /* border: 2px solid red; */
    padding: 7vh 3vw;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    /* border: 2px solid red; */
    align-items: center;
}

.title_hotels {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: var(--hcolor);
    font-weight: 600;
}

.hotel_cards {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    /* align-items: center; */
    position: relative;
    width: 100%;
    column-gap: 10px;
    /* width: 100%; */
    overflow: hidden;
}


.gradient1 {
    position: absolute;
    left: 0px;
    z-index: 1;
    height: 100%;
    /* border: 2px solid rgb(0, 0, 0); */
    width: 15%;
    background-image: linear-gradient(to right, var(--secondary), var(--secondary), rgba(255, 255, 0, 0));
}

.gradient2 {
    position: absolute;
    right: 0px;
    z-index: 1;
    height: 100%;
    /* border: 2px solid rgb(0, 0, 0); */
    width: 15%;
    background-image: linear-gradient(to right, var(--secondary), var(--secondary), rgba(255, 255, 0, 0));
    transform: rotate(180deg);
}

.card_arrow img {
    width: 60px;
    position: absolute;
    top: 45%;
    z-index: 2;
    cursor: pointer;
}

.card_arrow_left img {
    left: 0px;
}

.card_arrow_right img {
    right: 0px;
}


@media screen and (max-width:1350px) {

    .hotel_cards {
        width: 70%;
        background-color: var(--primary);
    }
}

@media screen and (max-width:900px) {

    .hotel_cards {
        width: 100%;
        background-color: var(--primary);
    }
}

@media screen and (max-width:600px) {

    .hotel_cards {
        width: 100%;
        background-color: var(--primary);
    }
}