.top_destination {
    background-color: var(--secondary);
    width: 100%;
    min-height: 480px;
    height: 100vh;
    padding: 7vh 3vw;
    display: flex;
    /* border: 2px solid rgb(0, 0, 0); */
    flex-direction: column;
    gap: 5vh;
    position: relative;
}

.title {
    display: flex;
    justify-content: center;

    font-size: 30px;
    font-weight: 600;
    padding: 30px;
    text-align: center;
}


.for_arrow {
    position: relative;
}

.cards_section {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(0, 0, 0); */
    position: relative;
    height: 100%;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 20px;
    margin: 2vh;
    /* animation: 2s slide_card infinite linear; */
}



.card_arrow img {
    width: 60px;
    position: absolute;
    top: 50%;
    z-index: 2;
}



.card_arrow_left img {
    left: 0px;
    /* border: 1px solid white; */
    background: var(--secondary);
    border-radius: 10px;

}

.card_arrow_right img {
    right: 0px;
    background: var(--secondary);
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px 0px black; */
}

.card img {
    width: 100%;
    height: 100%;
}


.gradient1 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    height: 120%;
    /* border: 2px solid rgb(0, 0, 0); */
    width: 20%;
    background-image: linear-gradient(to right, var(--secondary), var(--secondary), rgba(255, 255, 0, 0));
}

.gradient2 {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    height: 120%;
    /* border: 2px solid rgb(0, 0, 0); */
    width: 20%;
    background-image: linear-gradient(to right, var(--secondary), var(--secondary), rgba(255, 255, 0, 0));
    transform: rotate(180deg);
}


@media screen and (max-height:720px) {
    .top_destination {
        gap: 10vh;
    }

    .cards_section {
        height: 80%;
    }

}

@media screen and (max-height:620px) {
    .cards_section {
        height: 80%;
    }
}