.tour_fullpage_section {
    padding: 2vw;
    background-color: var(--secondary);
    width: 100%;
    height: 100vh;
    position: relative;
}

.tfp_content {
    background-color: var(--primary);
    /* background-color: pink; */
    width: 100%;
    height: 100%;
    border-radius: 15px;
    /* border: 3px solid white; */
    overflow: hidden scroll;
    position: relative;
}

.tfp_close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    width: 30px;
    /* width: 40px; */
}

.tfp_content::-webkit-scrollbar {
    display: none;
}

.tfp_image {
    position: relative;

    /* object-fit: contain; */
    overflow: hidden;
    width: 100%;
    height: 50%;
    /* border-radius: 15px 15px 0px 0px; */
}

.tfp_image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gradient {
    position: absolute;
    bottom: 0px;
    /* border: 2px solid rgb(199, 0, 0); */
    right: 0px;
    z-index: 1;
    height: 100%;
    /* border: 2px solid rgb(255, 255, 255); */
    width: 100%;
    background-image: linear-gradient(to top, var(--primary), rgba(255, 255, 0, 0), rgba(255, 255, 0, 0));
    /* transform: rotate(0deg); */
}

.tfp_others {
    color: var(--color1);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tfp_city_name {
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 10px black;
}

.tfp_duration-price {
    font-size: 20px;
    font-weight: 600;
}

.tfp_city_description {
    font-size: 17px;
}

.tpf_contacts {
    display: flex;
    gap: 15px;
    /* margin-top: 10px; */
    flex-direction: column;
}

.tpf_number {
    display: flex;
    gap: 10px;
}

.tpf_number img {
    width: 25px;
    /* background-color: var(--color1); */
    border-radius: 5px;
    padding: 2px;
}

.tpf_email {
    display: flex;
    gap: 10px;
}

.tpf_email img {
    width: 25px;
    /* background-color: var(--color1); */
    border-radius: 5px;
    padding: 2px;
}

.tpf_btn {
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    color: var(--primary);
    background-color: var(--color1);
    width: fit-content;
    font-weight: 700;
}