.tour_cards {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
    /* border: 3px solid rgb(61, 47, 255); */
    padding: 0vh 15vw;

}

.tour_card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    transition: all .3s;
    width: 100%;
    height: 100%;

}

.tour_card {
    --shine-deg: 45deg;
    position: relative;
    overflow: hidden;

    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

    background-repeat: no-repeat;
    background-position: -100% 0, 0 0;

    background-image: linear-gradient(var(--shine-deg),
            transparent 20%,
            transparent 40%,
            rgba(124, 124, 124, 0.642) 50%,
            rgba(123, 123, 123, 0.653) 55%,
            transparent 70%,
            transparent 100%);

    background-size: 400% 300%, 200% 100%;
    transition: background-position 2s ease;
    transition: all .2s;
}

.tour_card:hover {
    background-position: 100%0, 0 0;
    transition-duration: .5s;
    transform: scale(1.05);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5), -4px -4px 20px rgba(0, 0, 0, 0.5);
    /* border-radius: 4px solid black; */
}

.tour_name {
    position: absolute;
    bottom: 40%;
    left: 0%;
    right: 0%;
    margin: auto;
    font-weight: 900;
    font-size: 25px;
    color: var(--color1);
    cursor: pointer;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    transition: all .5s ease-in-out;
    align-items: center;
    cursor: pointer;
    /* position: relative; */
    padding: 0px 2px;
    width: fit-content;
}

.tour_name:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--color1);
    width: 0%;
    left: 0;
    bottom: 0px;
    transition: .3s;
}

.tour_card:hover .tour_name::after {
    width: 100%;
    box-shadow: 2px 2px 10px var(--color1);
}


.tour_card img {
    width: 100%;
    height: 100%;
    opacity: .5;
    object-fit: cover;
    transition: transform 1s;

}



.tour_first {
    /* border: 3px solid greenyellow; */
    width: 100%;
}

.tour_second {
    /* border: 3px solid greenyellow; */
    height: 100%;
}