@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inder', sans-serif;

}

body {
    font-size: 16px;
    background-color: var(--secondary);
}


html::-webkit-scrollbar {
    width: .5vw;
    scroll-behavior: smooth;
    display: none;
}

/* html::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

html::-webkit-scrollbar-track {
    background-color: var(--secondary);
} */

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --color1: white;
    --hcolor: black;
    --color2: black;
    --primary: rgb(0, 38, 88);
    /* --primary: rgb(38, 38, 38); */
    /* --primary: #002160; */
    --secondary: #b8cfff;
    --secondary2: 184, 207, 255;
    --alpha: .5;
    /* --primary: #1573ff;
    --secondary: #5dbef7; */
}

[data-theme='1'] {
    --color1: white;
    /* --primary: rgb(43, 43, 43); */
    --primary: rgb(0, 38, 88);
    /* --primary: #002160; */
    --color2: black;
    --secondary: #b8cfff;
    --secondary2: 184, 207, 255;

    /* --secondary: #B2CCFF; */
    /* --primary: #1573ff;
    --secondary: #5dbef7; */
}

[data-theme='2'] {
    --color1: white;
    --primary: #323232;
    --color2: black;
    --secondary: #dfdfdf;
    --secondary2: 223, 223, 223;
    /* --primary: #1573ff;
    --secondary: #5dbef7; */
}

[data-theme='3'] {
    --color1: white;
    --primary: rgb(21, 21, 21);
    /* --primary: #545454; */
    --hcolor: white;
    --color2: black;
    --secondary: #323232;
    --secondary2: 50, 50, 50;
    /* --primary: #1573ff;
    --secondary: #5dbef7; */
}

[data-theme='4'] {
    --color1: white;
    --primary: rgb(9, 53, 0);
    --color2: black;
    --secondary: #ceffad;
    --secondary2: 206, 255, 173;
    /* --primary: #1573ff;
    --secondary: #5dbef7; */
}

/* for smooth fade animation of each section */

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: .5s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}